<h4>Chercher un Pokémon 🔍</h4>
<form>
    <input type="text" placeholder="ex. pikachu" name="pokemon" [(ngModel)]="pokemonName">
    <br>
    <button (click)="btnSearchPokemon()">Rechercher</button>
</form>
<br><br>

<!-- Exemple d'affichage des informations du Pokémon recherché  -->
<h4>Résultat 🕵️‍♀️</h4>

<div *ngIf="pokemon != null">
<p>Id : {{pokemon.id}}</p>
<img src="{{pokemon.imgSrc}}" alt="{{pokemon.name}}">
<p>Nom : {{pokemon.name}}</p>
<p (click)="saveFavPokemon()"  class="favorite">+⭐</p>
</div>

